@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
}

/* Track */
::-webkit-scrollbar {
    width: 10px;
    /* Width of the entire scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #10D9E0;
    /* Color of the scrollbar handle */
    border-radius: 5px;
    /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color on hover */
}

body {
    font-family: 'Poppins', sans-serif !important;
}

.center {
    align-items: center;
    justify-content: center;
    display: flex;
}

.navbar {
    box-shadow: 0px 0px 7px 0px rgba(128, 128, 128, 0.354);
}

.navbar-brand span {
    font-size: 0.7em;
    font-weight: bold;
}

.nav ul li {
    display: none !important;
}

.user-connected {
    color: blue;
}

@media (max-width:700px) {
    .nav ul li {
        display: block !important;
    }
}